.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 150px;
    padding-top:180px
    // flex-flow: row wrap;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    // flex-wrap: nowrap;
}   

.header {

}

.content {
    flex: 3 0px;
}